<article class="type-system-traditional centered">
  <% @events.each do |event| %>
    <% if event.reservations.exists? %>
      <h1><%= link_to "#{event.title}", event %></h1>
      <% event.reservations.each do |reservation| %>
        <section class="row">
          <h2><%= reservation.first_name %> <%= reservation.last_name %></h2>
          <h4>Number of Guests: <%= reservation.num_guests %></h4>
          <p>
            <a href="mailto:<%= reservation.email %>"><%= reservation.email %></a>
          </p>
          <p>
            <%= reservation.message %>
          </p>
          <%= button_to "DELETE", admin_reservation_path(:id => reservation.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </section>
      <% end %>
    <% end %>
  <% end %>
</article>
