<header class='centered-navigation' role='banner'>
  <div class='centered-navigation-wrapper'>
    <%= link_to image_tag('http://thenation.s3.amazonaws.com/ads/hb/bunny.png', :border => 0, :alt => 'Hungry Bunny', :class => 'mobile-logo'), root_path %>
    <a class='centered-navigation-mobile-menu' href='javascript:void(0)' id='js-centered-navigation-mobile-menu'>MENU</a>
    <nav role='navigation'>
      <ul class='centered-navigation-menu show' id='js-centered-navigation-menu'>
        <li class='nav-link'>
          <%= link_to "THE HUNGRY BUNNY", root_path %>
        </li>
        <li class='nav-link logo'>
          <%= link_to image_tag('http://thenation.s3.amazonaws.com/ads/hb/bunny.png', :border => 0, :alt => 'Hungry Bunny', :class => 'logo'), root_path %>
        </li>
        <li class='nav-link'>
          <%= link_to "About", about_path %>
        </li>
        <li class='nav-link'>
          <%= link_to 'Events', events_path %>
        </li>
        <li class='nav-link'>
          <%= link_to 'Recipes', recipes_path %>
        </li>
        <li class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Catering</a></li>
            <li><a href="javascript:void(0)">Community</a></li>
            <li><a href="javascript:void(0)">FAQ</a></li>
            <li><a href="javascript:void(0)">Contact</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
