<style media="screen">
  .images-wrapper { background-image: url("<%= @event.photo.url %>") }
</style>
<article class="type-system-traditional">
  <div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4><%= @event.event_type %></h4>
      <h1><%= @event.title %></h1>
      <h3><%= @event.address %></h3>
      <p><%= @event.description %></p>
      <p class="date">
         <%= @event.event_date.strftime("%B %d, %Y") %>, <%= @event.event_time.strftime("%I %p") %>
      </p>
      <% @event.courses.each do |course| %>
        <p class="date">
          <%= course.label %>
        </p>
        <p>
          <%= course.description %>
        </p>
      <% end %>
      <%= link_to "Reserve Today!", new_reservation_path(:event_id => @event.id), {:style=>'color:#FFFFFF;', :class => "button"} %>
  </div>
</article>
