<% @events.each do |event| %>
  <div class="card front-card">
    <div class="card-image">
      <%= link_to image_tag(event.photo.url, :border => 0, :alt => event.title), event %>      
    </div>
    <div class="card-header">
      <%= link_to event.title, event %>
    </div>
    <div class="card-copy">
      <p class="date">
         <em>
           <%= event.event_date.strftime("%B %d, %Y") %>, <%= event.event_time.strftime("%I %p") %>
         </em>
      </p>
      <p>
        <%= event.description %>
      </p>
    </div>
  </div>
<% end %>
